<div class="container my-5 registro border border-success rounded">
  <form [formGroup]="registerForm" (ngSubmit)="agregarUser()">
    <div class="row p-3">
      <h2 class="text-center p-3">Registro</h2>
      <div class="col-md-6 pt-4 box" >
        <label for="inputtipoUsuario" class="form-label">Tipo de Usuario</label>
        <select id="inputtipoUsuario" class="form-select" formControlName="tipoUsuario" (change)='ocultarCampos()'  >
          <option value=""  disabled="disabled" >Selecciona...</option>
          <option >Empresa</option>
          <option>Fundación</option>
          <option>Voluntario</option>
        </select>
        <div *ngIf="registerForm.controls.tipoUsuario.touched && registerForm.controls.tipoUsuario.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.tipoUsuario.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4 box" *ngIf="showEmpresa" >
        <label for="inputSector" class="form-label">Sector económico</label>
        <select id="inputSector" class="form-select" formControlName="sector">
          <option value="" disabled="disabled">Selecciona...</option>
          <option>Alimentos</option>
          <option>Textiles</option>
          <option>Calzado</option>
          <option>Implementos escolares</option>
          <option>Educación</option>
          <option>Servicios</option>
          <option>Salud</option>
          <option>Consumo masivo</option>
          <option>Transporte</option>
          <option>Otros</option>
        </select>
        <div *ngIf="registerForm.controls.sector.touched && registerForm.controls.sector.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.sector.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4 box" *ngIf="showEmpresa ">
        <label for="inputNempresa" class="form-label">Nombre de la organización</label>
        <input type="text" class="form-control" id="inputNempresa" formControlName="nombreOrganizacion">
        <div *ngIf="registerForm.controls.nombreOrganizacion.touched && registerForm.controls.nombreOrganizacion.invalid">
          <small class="text-danger"*ngIf="registerForm.controls.nombreOrganizacion.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.nombreOrganizacion.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 3 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.nombreOrganizacion.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo letras en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputPnombre" class="form-label">Primer nombre</label>
        <input type="text" class="form-control" id="inputPnombre" formControlName="primerNombre">
        <div *ngIf="registerForm.controls.primerNombre.touched && registerForm.controls.primerNombre.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.primerNombre.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.primerNombre.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 3 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.primerNombre.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo letras en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputSnombre" class="form-label">Segundo nombre</label>
        <input type="text" class="form-control" id="inputSnombre" formControlName="segundoNombre">
        <div *ngIf="registerForm.controls.segundoNombre.touched && registerForm.controls.segundoNombre.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.segundoNombre.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.segundoNombre.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 3 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.segundoNombre.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo letras en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputPapellido" class="form-label">Primer apellido</label>
        <input type="text" class="form-control" id="inputPapellido" formControlName="primerApellido">
        <div *ngIf="registerForm.controls.primerApellido.touched && registerForm.controls.primerApellido.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.primerApellido.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.primerApellido.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 3 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.primerApellido.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo letras en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputSapellido" class="form-label">Segundo apellido</label>
        <input type="text" class="form-control" id="inputSapellido" formControlName="segundoApellido">
        <div *ngIf="registerForm.controls.segundoApellido.touched && registerForm.controls.segundoApellido.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.segundoApellido.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.segundoApellido.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 3 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.segundoApellido.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo letras en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputTipoID" class="form-label">Tipo de documento</label>
        <select id="inputTipoID" class="form-select" formControlName="tipoDocumento">
          <option value="" disabled="disabled">Selecciona...</option>
          <option>CC</option>
          <option>CE</option>
          <option>NIT</option>
        </select>
        <div *ngIf="registerForm.controls.tipoDocumento.touched && registerForm.controls.tipoDocumento.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.tipoDocumento.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputNID" class="form-label">Numero de documento o NIT</label>
        <input type="text" class="form-control" id="inputNID" formControlName="numeroDocumento">
        <div *ngIf="registerForm.controls.numeroDocumento.touched && registerForm.controls.numeroDocumento.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.numeroDocumento.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroDocumento.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 6 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroDocumento.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo números en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" id="email" placeholder="usario@gmail.com" formControlName="correoElectronico">
        <div *ngIf="registerForm.controls.correoElectronico.touched && registerForm.controls.correoElectronico.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.correoElectronico.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.email.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Correo inválido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputTelefono1" class="form-label">Número de teléfono 1</label>
        <input type="email" class="form-control" id="inputTelefono1" formControlName="numeroTelefono1">
        <div *ngIf="registerForm.controls.numeroTelefono1.touched && registerForm.controls.numeroTelefono1.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono1.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono1.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 6 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono1.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo números en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputTelefono2" class="form-label">Número de teléfono 2</label>
        <input type="text" class="form-control" id="inputTelefono2" formControlName="numeroTelefono2">
        <div *ngIf="registerForm.controls.numeroTelefono2.touched && registerForm.controls.numeroTelefono2.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono2.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono2.errors?.minlength">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La longitud mínima es de 6 caracteres
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.numeroTelefono2.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Introducir solo números en este campo
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputUbicacionPais" class="form-label">País</label>
        <select id="inputUbicacionPais" class="form-select" formControlName="pais">
          <option value="" disabled="disabled">Selecciona...</option>
          <option>Colombia</option>
        </select>
        <div *ngIf="registerForm.controls.pais.touched && registerForm.controls.pais.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.pais.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputUbicacionCiudad" class="form-label">Ciudad</label>
        <select id="inputUbicacionCiudad" class="form-select" formControlName="ciudad" >
          <option value="" disabled="disabled">Selecciona...</option>
          <option>Cali</option>
          <option>Barranquilla</option>
          <option>Cartagena</option>
          <option>Medellín</option>
          <option>Bogotá</option>
          <option>Cartagena</option>
          <option>Cúcuta</option>
          <option>Bucaramanga</option>
          <option>Bello</option>
          <option>Villavicenci</option>
          <option>Ibagué</option>
          <option>Valledupar</option>
          <option>Manizales</option>
          <option>Ibagué</option>
          <option>Pereira</option>
          <option>Montería</option>
          <option>Pasto</option>
          <option>Neiva</option>
          <option>Armenia</option>
          <option>Santa Marta</option>
          <option>Cúcuta</option>
          <option>Cartagena de Indias</option>
          <option>Soacha</option>
          <option>Soledad</option>
          <option>Bello</option>
        </select>
        <div *ngIf="registerForm.controls.ciudad.touched && registerForm.controls.ciudad.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.ciudad.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="inputDireccion" formControlName="direccion">
        <div *ngIf="registerForm.controls.direccion.touched && registerForm.controls.direccion.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.direccion.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
        </div>
      </div>

      <div class="col-md-6 pt-4">
        <label for="inputPassword" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="contrasena" >
        <div *ngIf="registerForm.controls.contrasena.touched && registerForm.controls.contrasena.invalid">
          <small class="text-danger" *ngIf="registerForm.controls.contrasena.errors?.required">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            Campo requerido
          </small>
          <small class="text-danger" *ngIf="registerForm.controls.contrasena.errors?.pattern">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula. NO puede tener otros símbolos.
          </small>
        </div>
      </div>

      <div class="col-md-12 pt-5 pb-3 text-center">
        <button type="submit" class="btn btn-primary btn-registro" [disabled]="registerForm.invalid">Registrar</button>
      </div>
    </div>
  </form>
</div>
