<div class="container my-5 volunteerForm border border-success rounded">
    <form class="was-validated">
        <div class="row p-3" [formGroup]="volunteerForm" >
            <h2 class="text-center">Formulario para Voluntario</h2>
            <div>
                <div class="col-md-4 pt-3">
                    <label class="form-label1"><strong>Selecciona tu tipo de donación:</strong></label>
                    <select class="form-select" formControlName="tipoDonacion">
                        <option value=""  disabled="disabled">Selecciona...</option>
                        <option>Dona tu Tiempo</option>
                        <option>Dona tu Conocimiento</option>
                    </select>
                    <div *ngIf="volunteerForm.controls.tipoDonacion.touched">
                        <small class="text-danger" *ngIf="volunteerForm.controls.tipoDonacion.errors?.required">
                            <i class="fas fa-exclamation-circle fa-fw"></i>
                                Campo requerido
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-md-4 pt-3">
                    <label  class="form-label1"><strong>Selecciona tu nivel educativo:</strong></label>
                    <select class="form-select" formControlName="nivelEducativo">
                        <option value=""  disabled="disabled">Selecciona...</option>
                        <option>Primaria</option>
                        <option>Secundaria</option>
                        <option>Técnico o Técnologo</option>
                        <option>Profesional</option>
                        <option>Especialización o Maestria </option>
                    </select>
                    <div *ngIf="volunteerForm.controls.nivelEducativo.touched">
                      <small class="text-danger" *ngIf="volunteerForm.controls.nivelEducativo.errors?.required">
                        <i class="fas fa-exclamation-circle fa-fw"></i>
                        Campo requerido
                        </small>
                    </div>
                </div>

                <div class="col-md-12 pt-3">
                    <label for="validationTextarea" class="form-label1"> <strong>Describe tu donación</strong></label>
                    <textarea class="form-control is-invalid" id="validationTextarea" formControlName="descripcion" placeholder="Redacte su tipo de donación si es conocimiento describa cual es la especialidad que desea donar y si desea donar tiempo describa su disponibilidad para donarlo" required></textarea>
                    <div *ngIf="showRequired || volunteerForm.controls.descripcion.touched ">
                        <small class="text-danger" *ngIf="volunteerForm.controls.descripcion.errors?.required">
                            <i class="fas fa-exclamation-circle fa-fw"></i>
                            Campo requerido
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pt-5 pb-3 text-center">
                <a type="submit" class="btn btn-success m-2" (click)="pop()">Publicar</a>

                <a class="btn btn-secondary m-2" routerLink="/filtroPublicaciones">
                    <i class="fas fa-pen-alt fa-fw"></i>
                    Volver
                    </a>
            </div>
        </div>
    </form>
</div>

