  .btn-Button {
    width: 100%;
    text-align: auto;
    background-color: #008000;
    color: #ffffff;
    margin-top: 10px;
    }

  .text-dark {
   margin: 0 auto 100px;
  /*para centrar */
   margin-top: 100px;
  /*con este baja el card*/
  border-top: 5px solid green;
  /*Color del borde superio*/
  }