<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</div> -->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="overflow: hidden;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
    <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://lorempixel.com/1280/480/nature" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <!-- <div class="row">
    <div class="col">
      <div class="contenedor">
        <form class="contenedorFiltro filtro my-5 border border-success rounded" [formGroup]="filtroForm">
          <div class="row p-3">
            <div class="col-md-6 pt-4">
              <label class="nombreOrganizacion">Buscar en tu Donacion:</label>
              <input class="form-control" type="text" id="nombreOrganizacion" formControlName="nombreOrganizacion">
              <div
                *ngIf="filtroForm.controls.nombreOrganizacion.touched && filtroForm.controls.nombreOrganizacion.invalid">
                <small class="text-danger" *ngIf="filtroForm.controls.nombreOrganizacion.errors?.required">
                  <i class="fas fa-exclamation-circle fa-fw"></i>
                  Campo requerido
                </small>
                <small class="text-danger" *ngIf="filtroForm.controls.nombreOrganizacion.errors?.minlength">
                  <i class="fas fa-exclamation-circle fa-fw"></i>
                  La longitud mínima es de 3 caracteres
                </small>
                <small class="text-danger" *ngIf="filtroForm.controls.nombreOrganizacion.errors?.pattern">
                  <i class="fas fa-exclamation-circle fa-fw"></i>
                  Introducir solo letras en este campo
                </small>
              </div>
            </div>


            <div class="col-md-6 pt-4">
              <label class="menuFiltro">Sector Económico</label>
              <select id="inputSector" class="form-select" formControlName="sector">
                <option value="" disabled="disabled">Selecciona...</option>
                <option>Persona natural</option>
                <option>Alimentos</option>
                <option>Textiles</option>
                <option>Calzado</option>
                <option>Implementos escolares</option>
                <option>Educación</option>
                <option>Servicios</option>
                <option>Salud</option>
                <option>Consumo masivo</option>
                <option>Transporte</option>
                <option>Otros</option>
              </select>
            </div>

            <div class="col-md-6 pt-4">
              <label for="inputUbicacionCiudad" class="form-label">Ciudad</label>
              <select id="inputUbicacionCiudad" class="form-select" formControlName="ciudad">
                <option value="" disabled="disabled">Selecciona...</option>
                <option>Cali</option>
                <option>Barranquilla</option>
                <option>Cartagena</option>
                <option>Medellín</option>
                <option>Bogotá</option>
                <option>Cartagena</option>
                <option>Cúcuta</option>
                <option>Bucaramanga</option>
                <option>Bello</option>
                <option>Villavicenci</option>
                <option>Ibagué</option>
                <option>Valledupar</option>
                <option>Manizales</option>
                <option>Ibagué</option>
                <option>Pereira</option>
                <option>Montería</option>
                <option>Pasto</option>
                <option>Neiva</option>
                <option>Armenia</option>
                <option>Santa Marta</option>
                <option>Cúcuta</option>
                <option>Cartagena de Indias</option>
                <option>Soacha</option>
                <option>Soledad</option>
                <option>Bello</option>
              </select>
            </div>

            <div class="col-md-6 pt-4">
              <label for="start" class="menuFiltro2">Inicio Publicacion: </label>
              <input class="form-control" type="date" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                max="3000-12-31">
            </div>

            <div class="col-md-6 pt-4">
              <label for="start" class="menuFiltro3">Cierre Publicacion: </label>
              <input class="form-control" type="date" id="start" name="trip-start" value="2020-01-01" min="2020-01-01"
                max="3000-12-31">
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-12 pt-4">
              <div class="row">
                <div class="col-md-5"></div>
                <a class="buttonFiltro text-center col-md-2 " href="home"><b>Buscar</b></a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div> -->
  <div class="row row-cols-1 row-cols-md-4 g-4 py-5">
    <div class="col">
      <div class="card h-100">
        <img src="http://lorempixel.com/1280/480/city" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
