<div class="card m-3">
  <img class="card-img-top" src="assets\img\logotudonacion2.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title text-center">MARCA LA DIFERENCIA, AYUDEMOS JUNTOS</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-4" *ngFor='let publicacion of listPublicaciones'>

    <span >
      <div class="card border-success m-3" style="max-width: 50rem;">
        <div class="card-header text-center"><strong>{{publicacion.nombreDueno}}</strong></div>
        <div class="card-body text-success text-center">
          <h5 class="card-title">{{publicacion.descripcion}}</h5>
        </div>
      </div>
    </span>

  </div>
</div>




