<footer class="bd-footer p-3 mt-5">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="d-inline-flex align-items-center w-100 mb-2 link-light text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="assets\img\logotudonacion3.png" width="90" height="90" alt="Logo">
            <h2 class="title fw-bold">TuDonacion</h2>
          </div>
          <ul class="list-unstyled small text-muted">
            <li>
              <p class="about-us">
                Página web diseñada con el propósito de conectar a empresas, fundaciones y voluntarios para facilitar el proceso de donación y poder contribuir con las personas que lo necesitan y así construir un mundo mejor.
              </p>
            </li>
            <li><small>Copyright &copy; 2021</small></li>
            <li><small>All rights reserved</small></li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 offset-lg-1 mb-3">
          <h6 class="title fw-bold">Enlaces:</h6>
          <ul class="list-unstyled">
            <li><a class="footer-link active" aria-current="page" href="home">Inicio</a></li>
            <li><a class="footer-link active" aria-current="page" href="login">Iniciar Sesión</a></li>
            <li><a class="footer-link active" aria-current="page" href="registro">Registro</a></li>
            <li><a class="footer-link active" aria-current="page" href="profile">Perfil</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h6 class="title fw-bold">Creado con ❤ por:</h6>
          <ul class="list-unstyled">
            <li class="mb-1">Alexis Cañas</li>
            <li class="mb-1">Jose Herrera</li>
            <li class="mb-1">Lizeth Perdomo</li>
            <li class="mb-1">Olga Ulloa Murillo</li>
            <li class="mb-1">Rudy Ocampo</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
