<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE PUBLICACIONES</span>
          <button class="btn btn-success float-end" routerLink="/empresas">NUEVO</button>
          <table *ngIf="listPublicaciones.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Responsable</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Sector</th>
                <th scope="col"></th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let publicacion of listPublicaciones'>
                <td>{{publicacion.idDueno}}</td>
                <td>2</td>
                <td>3</td>
                <td>
                  <i  class="fas fa-edit text-primary"></i>
                  <i  class="fas fa-trash-alt text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

